
.line {
    height: .1rem;
    width: 80%;
    background-color: rgb(15, 15, 15);
    opacity: 0.2;
}

.colorGreen {
    color: green;
    margin-right: 1rem;
    
}
.colorRed {
    color: red;
}
.icons {
    display: flex;
    align-items: end;
}



