div {
  & .orRegister {
    &:hover {
      cursor: pointer;
    }
  }

  & .forgotPassword {
    &:hover {
      cursor: pointer;
    }
  }

  & .loginFormControl {
    @media (min-width: 400px) {
      width: 322px;
    }
  }
}
