.centerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test {
  max-width: 466px;

  & .orRegister {
    &:hover {
      cursor: pointer;
    }
  }

  & .forgotPassword {
    &:hover {
      cursor: pointer;
    }
  }

  & .loginFormControl {
    @media (min-width: 400px) {
      width: 322px;
    }
  }
}
