.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.gap {
  display: flex;
  gap: 10px;
}

.font {
  font-weight: 400;
}

.p {
  max-width: 21rem;
}
