.wave {
  -webkit-transform: rotate(167deg);
  -ms-transform: rotate(167deg);
  transform: rotate(167deg);
  margin-right: -50vw;
}
.waveMobile {
  -webkit-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  transform: rotate(140deg);
  margin-right: -50vw;
}
body {
  overflow: hidden;
}
